.table-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.chart-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.half-page-cont {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.hr-cont {
  margin: 50px 150px 50px 150px;
}

.spinner-cont {
  text-align: center;
  padding-top: 20px;
}


.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  color: green;
}

.lds-hourglass:after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid green;
  border-color: #fff gold #fff gold;
  animation: lds-hourglass 1.2s infinite;
}

.lds-hourglass-red {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  color: red;
}

.lds-hourglass-red:after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid red;
  border-color: #fff red #fff red;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@keyframes lds-hourglass-red {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@media (max-width: 1000px) { 
  .table-page {
    flex-direction: column;
    margin-top: 0;
  }
  .hr-cont {
    margin: 40px 150px 20px 150px;
  }
  .half-page-cont {
    width: 100%;
    justify-content: center;
  }
 }