
#comparison-analysis {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#price-comparison-chart, #bar-chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

 #stat-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stat-sub-box {
  margin: auto
}

b {
  text-decoration: underline;
}

h2, h4, h3, h1 {
  text-align: center;
}


#sharp-ratio {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

#sharp-ratio-stat {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.flex-cont-row {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.local-title {
  text-align: center;
  display: block;
}

hr {
  margin: 20px;
}

#python-code {
  padding: 20px;
}



