iframe {
  margin-top: 20px;
  height: 100vh;
  width: 100vw;
}

.iframe-cont {
  margin:0px;
  padding:0px;
  overflow:hidden
}

.disclaimer-p {
  font-size: 11px;
}

.disclaimer-cont {
  padding: 10px 30px 0 30px;
}