.chat-input-form {
  display: flex;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 5px;
}

.input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  font-size: 14px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: rgb(255, 255, 255) !important;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(117, 158, 255);
  display: inline-block;
  border: none;
  width: 20%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.sendButton:hover {
  background: rgb(95, 142, 251);
}