.search-bar{
  width: 100%;
}

.form-horizontal {
  margin-top: 0;
  width: 480px;
  padding: 0 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
}

.input-text-box {
  margin-top: 10px;
}

.alert-box {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top:50%;
}


@media (max-width: 1050px) { 
  .form-horizontal {
    margin-top: 0px;
    width: 90%;
    padding: 20px;
  }
  .search-bar{
    padding-right:0;
  }
 }