.search-bar{
  width: 100%;
}

.form-horizontal {
  margin-top: 0;
  width: 480px;
  padding: 0 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
}

.input-or {
  text-align: center;
  padding: 5px;
}

.input-text-box {
  margin-top: 10px;
}

.hr-input {
  margin: 3px;
}

.alert-box {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top:50%;
}


@media (max-width: 1050px) { 
  .form-horizontal {
    margin-top: 0px;
    width: 90%;
    padding: 20px;
  }
  .search-bar{
    padding-right:0;
  }
 }

 @media (max-width: 650px) { 
  .search-title {
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
  }
 }