a:hover {
  color: var(--primary-orange) !important;
}

.nav-outer-cont {
  width: 100%;
}

.nav-logo-title-cont {
  display: flex;
  align-items: center;
}

.nav-links-cont {
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
}

.nav-link {
  margin-left: 25px !important;
}

.nav-logo-title-cont img {
  width: 25px;
  margin-right: 7px;
}

.custom-nav-dropdown a {
  color: var(--primary-grey) !important;
}

.custom-nav-dropdown a:hover {
  color: var(--primary-orange) !important;
}

.custom-nav-dropdown span {
  color: var(--primary-dark) !important;
}

.nav-outer-cont span {
  color: var(--primary-grey);
}

.nav-outer-cont span:hover {
  color: var(--primary-orange);
}

@media (max-width: 550px) { 
  .nav-links-cont {
    justify-content: space-around !important;
  }
}
