

.main-body {
  padding: 20px 150px 0 150px;
}

#comparison-analysis {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#price-comparison-chart, #bar-chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  color: green;
}

.lds-hourglass:after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid green;
  border-color: #fff gold #fff gold;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

 #stat-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stat-sub-box {
  margin: auto
}

.spinner-cont {
  text-align: center;
  padding-top: 20px;
}

b {
  text-decoration: underline;
}

h2, h4, h3, h1 {
  text-align: center;
}

.main-body h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-body h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}


#sharp-ratio {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

#sharp-ratio-stat {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.flex-cont-row {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.local-title {
  text-align: center;
  display: block;
}

hr {
  margin: 20px;
}

#python-code {
  padding: 20px;
}

@media (max-width: 1600px) { 
  .main-body {
    padding: 20px 100px 0 100px;
  }
}

@media (max-width: 1100px) { 
  .main-body {
    padding: 20px 50px 0 50px;
  }
  .flex-cont-row {
    flex-direction: column;
    padding: 20px;
  }
  #sharp-ratio {
    margin-bottom: 30px;
    padding: 0;
  }
}

@media (max-width: 700px) { 
  .main-body {
    padding: 20px 20px 0 20px;
  }
 }

 @media (max-width: 500px) { 
  .main-body {
    padding: 10px 10px 0 10px;
  }
  #python-code {
    padding: 10px;
  }
  li {
    font-size: 12px;
  }
  .main-body h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .main-body h3 {
    font-size: 17px;
  }
  .local-title {
    font-size: 14px;
  }
  #code-editor-header {
    font-size: 14px;
  }
 }



