.footer-outer-cont {
  margin-top: 100px;
}

.footer-cont {
  background-color: #212529;
  color: white;
  width: 100%;
  padding: 70px 200px 70px 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.name-sig {
  color: #A9A9A9;
}

.trade-mark-cont {
  width:30%;
}

.aux-links-cont {
  width:70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link-cont {
  margin-left: 50px;
}

.link-cont h5{
  margin-top: 15px;
}

.link-cont a {
  color: #A9A9A9;
  text-decoration: none;
  display: block;
}

.link-cont a:hover {
  color: #bd971b;
}

.disclaimer-p {
  font-size: 11px;
}

.disclaimer-cont {
  padding: 20px 20px 4px 20px;
}

.title-logo {
  display: flex;
  align-items: center;
}

.title-logo h2 {
  display: inline-block;
}

.title-logo img {
  width: 35px;
  height: 35px;
  margin : 0 0 8px 10px;
}

@media (max-width: 1300px) { 
  .footer-cont {
    padding: 70px 100px 70px 100px;
  }
  .link-cont {
    margin-left: 30px;
  }
  .footer-outer-cont {
    margin-top: 50px;
  }
 }

 @media (max-width: 900px) { 
  .trade-mark-cont {
    width:70%;
  }
  .aux-links-cont {
    flex-direction: column;
    width:30%;
  }
  .disclaimer-p {
    font-size: 9px;
  }
  .disclaimer-cont {
    padding: 10px 10px 0 10px;
  }
 }

 @media (max-width: 700px) { 
  .footer-cont {
    flex-direction: column;
    padding: 70px 30px 70px 30px;
  }
  .trade-mark-cont {
    width:100%;
  }
  .aux-links-cont {
    width:100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
  .link-cont {
    margin-left: 0px;
  }

  .footer-outer-cont {
    margin-top: 5px;
  }
  
 }