.coin-body {
  display: flex;
  min-height:100vh; 
  flex-direction:column; 
  justify-content:space-between;
}

tr th {
  border-bottom: solid black 2px !important;
}

.center-align-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
